  <!doctype html>
  <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ email }}</title>
    <meta name="description" content="{{ name }}" />
  </head>

  <body>

  <div id="content">
    <p>Why, hello there {{ name }}!</p>
  </div>

  </body>
  </html>